/*set*/
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2e2e2e;
}

@font-face {
    font-family: 'GmarketSansTTFLight';
    src: url(../font/GmarketSansTTFLight.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../font/Roboto-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}



/*header*/
header {
    z-index: 100;
    width: 10vw;
    height: 100vh;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid #e0e0e0;
}

header>h1 {
    height: 10%;
    margin-top: 15%;
    text-align: center;
}

header>h1>a {
    line-height: 10vh;
}

header>h1>a>img {
    width: 50%;
}

nav {
    width: 80%;
    margin: auto;
    text-align: right;
    margin-top: 40%;
    font-family: Roboto-Light;
    font-weight: 300;
    font-size: 0.9vw;
}

nav a:hover {
    color: #004DC9;
}

nav .mainmenu {}

nav .mainmenu li {
    margin: 2% 0;
}

nav .mainmenu a {}

nav .submenu {
    display: none;
}

nav .submenu a {
    font-size: 0.6vw;
}

header .contact {
    position: fixed;
    bottom: 7%;
    left: 0;
    width: 10vw;
    font-family: Roboto-Light;
    font-weight: 300;


}

.contact>dl {
    margin-left: 15%
}

.contact>dl>dt {
    margin: 2% 0;
    font-size: 0.6vw;
}

.contact>dl>dt+dd {
    margin: 1% 0;
    font-size: 0.5vw;
}

.contact>dl>dt+dd+dd {
    font-size: 0.5vw;
}

/*right wrap*/
audio {
    position: absolute;
    top: 2%;
    left: 0;
    z-index: 200;
    height: 20px;

}

#fullpage {
    width: 80vw !important;
    height: 100vh impotant;
    float: right;
    background: #fff !important;
    position: relative;
}

/*
#fullpage {
    width: 80% !important;
    margin: auto !important;
}
*/

.page1,
.page2,
.page3 {
    overflow: hidden;
}

.page1wrap {}

.page1>div>.page1wrap {
    width: 40%;
    height: 100%;
    float: left;
    position: relative;
}

.page1>div>div#swiper1 {
    width: 55%;
    height: 100vh;
    float: left;
}

.swiper-slide img {
    width: 100%;
}

.title{
    width: 100% !important;
    height: 20% !important;
    margin: auto !important;
    position: relative;
}

.page1 div>span,
.page2 div>span,
.page3 div>span {
    width: 100% !important;
    margin: 8vh 0 3vh 0 !important;
    font-family: Roboto-Light !important;
    font-weight: 800 !important;
    font-size: 1.5vw !important;
    position: absolute;
    bottom: 0;
    left: 0;
}

.page1>div>div:first-child>div+div,
.page3>div>div+div {
    width: 100% !important;
    height: 100% !important;
    margin: auto !important;
}

.page1 div>p,
.page3 div>p {
    font-family: GmarketSansTTFLight !important;
    font-size: 1vw !important;
    text-align: left !important;
}

.page1 div video {
    width: 90%;
    margin-top: 10%
}

.page1 div>p+video+p {
    position: absolute;
    bottom: 10%;
    left: 0;
    font-weight: 600 !important;
    font-size: 0.8vw !important;
}


.page1>div h2 {
    font-family: Roboto-Light !important;
    font-weight: 600 !important;
    font-size: 1.5vw !important;
}

.page1>div>h2+p {
    width: 50%;
}

.Question1,
.Question2 {
    width: 46% !important;
    height: 100% !important;
    float: left !important;
    margin: 0 2% 0 0;
}

.page2 .Q {
    font-family: GmarketSansTTFLight !important;
    font-size: 1vw !important;
    text-align: left !important;
    margin-top: 8%;
}

.page2 .A {
    font-family: GmarketSansTTFLight !important;
    font-size: 1vw !important;
    text-align: left !important;
    font-weight: 800;
    margin: 3% 0;
}

/*.page1 div > p + p,*/
/* .page2 div>p+p, */
.page3 div>p+p {
    margin: 5% 0 !important;
    font-family: Roboto-Light !important;
    font-size: 1vw !important;
    text-align: left !important;
}


/*swiper*/
/*swipercss*/

/*swipercss*/

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-button-next {
    --swiper-navigation-size: 3vw !important
}

.swiper-button-prev {
    --swiper-navigation-size: 3vw !important
}

/*swiper end*/


.page2 {}

.page3 {}